<h2>All Study Posts </h2>
<% @study_posts.each do |study_post| %>
<h4><a href="/study_posts/<%= study_post.id %>"> <%= study_post.u_name%> <%= study_post.date%></a></h4>
<h4><%= study_post.description%> </h4>
<% end%>