<h2> Create a new Study Post: </h2>

<form class ="" action="/studyposts" method="post">
    <label for = "description">Description: </label>
    <input type = "text" name ="description" value = "" > <br>
    <label for = "study_time">Study Time (hr:min): </label>
    <input type = "text" name ="study_time" value = ""> <br>
    <label for = "date">Date: </label>
    <input type = "text" name ="date" value = ""> <br>

    <input type = "submit" name ="" value ="Create Entry" >
</form> 