<h2>Sign Up!</h2>

<form class ="session" action = "/users" method ="post">
    <div>
        <label for="name">User Name: </label> 
        <input type ="text" name ="name" value ="">
    </div>
    <div>
        <label for="email">Email: </label> 
        <input type ="text" name ="email" value ="">
    </div>
    <div>
        <label for="password">Password: </label> 
        <input type ="text" name ="password" value ="">
    </div>
    <div>
        <br>
        <input type ="submit" name ="" value ="Create User" class=" btn btn-full">
    </div>
</form>